* {
    margin: 0px;
    border: 0px
}

nav {
    background-color: #0b6623;
    list-style-type: none;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;

}

nav li{
    width: 100%;
    margin: 0 5px 0 5px;
    text-align: center;
}

nav li:hover {
    background-color: grey;
}

li a {
    display: block;
}

.title {
    background-color: #44d9ec;
    text-align: center
}

.text-block {
    background-color: #fbff00;
    padding: 10px 20px 10px 20px;
}

@media screen and (min-width: 400px) {
    body {
      background-color: lightgreen;
    }
  }